.parallax {
    background-image: url("../../assets/tobihomepage.png");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 100%;
    background-attachment: scroll;
    background-color: #020202;
    transform: translate3d(0px, 0px, 0px);
}